body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
h1{
  font-weight: bolder;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0rem;
  margin-bottom: 0;
}
p{
  color: hsl(257, 7%, 63%);
  line-height: 1.5;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}
.navbar a{
  color: hsl(257, 7%, 63%);
  font-weight: bold;
}

.nav-button{
  background-color:hsl(180, 66%, 49%);
  border-radius: 20px;
  height:2.5rem;
  width: 7rem;
  color: white;
  border: 1px solid hsl(180, 66%, 49%);
  margin: 0 4.5rem 0 1.5rem;

}

.navbar-brand{
  margin: 0 2rem 0 4.5rem;
}
.nav-item{
  margin: 0 0.5rem;
}


/* Intro */


.intro{
  padding: 4.5rem 4.5rem 9rem;
  margin: 0;

}

.intro-words{
  padding: 2rem 3.5rem 3rem 0;

}

.intro-button{
  background-color:hsl(180, 66%, 49%);
  border-radius: 20px;
  height:2.5rem;
  width: 10rem;
  color: white;
  border: 1px solid hsl(180, 66%, 49%);
  /* margin: 0 4.5rem 0 1.5rem; */

}

.intro-image img{
  width:125%;
  margin-top: 1.5rem;
}

.intro-image-mobile{
  display: none;
}


.shorten{
  /* width: 80%; */
  background-image: url('../images/bg-shorten-desktop.svg');
  background-color: hsl(257, 27%, 26%);
  padding: 3rem 3.5rem;
  margin: 0 4.5rem ;
  border-radius: 10px;
  position: relative;
  bottom: 5rem;

}
.shorten input{
  width: 70%;
  height: 3rem;
  border-radius: 10px;
}

.shorten-button{
  background-color:hsl(180, 66%, 49%);
  border-radius: 10px;
  height:3.5rem;
  width: 20%;
  color: white;
  border: 1px solid hsl(180, 66%, 49%);
  margin-left:1rem;
}

.advanced-stat{
  background-color:#e8e8e8;
  padding-bottom: 5rem;
}

.stat-info{
  margin: 2rem 16rem 3rem;
  text-align: center;
}

.stat-cards{
  padding:3rem;

}
.brand, .records, .customizable{
  background-color: white;
  border-radius: 5px;
  margin:1rem;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 1rem;
  z-index: 2;
}

.brand, .records, .customizable p{
    font-size: 14px;

}
.card-image{
  background-color: hsl(257, 27%, 26%);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position:relative;
  bottom:3.5rem;
  margin: 0;

}
.brand img{
  position:relative;
  top:1rem;
  left:1.2rem;
}
.records img{
  position:relative;
  top:1.2rem;
  left:1.2rem;
}
.customizable img{
  position:relative;
  top:1rem;
  left:1rem;
}
 h5{
  margin-bottom: 0;
  margin-top: 0;
}

.records{
  position: relative;
  top: 2.5rem;
}

.customizable{
  position: relative;
  top: 5rem;
}

.line{
  border: 0.25rem solid hsl(180, 66%, 49%);
  width:70%;
  height: 0;
  position: absolute;
  left: 10%;
  top: 80rem;
  z-index: 1;
}



/* boost */
.boost{
  background-image: url('../images/bg-boost-desktop.svg');
  background-color: hsl(257, 27%, 26%);
  padding: 2rem 3rem;
  color: white;
  text-align:center;
}

/* footer */
.footer{
  background-color: hsl(260, 8%, 14%);
  color: white;
  font-size: 13px;
  padding: 3rem 4.5rem;
}

.footer li{
  list-style: none;
}

.list ul{
  padding: 0 1rem;
  margin:0;
}
.list li{
  margin:0.5rem 0;
}
.li-head{
  font-weight: 800;
  padding-bottom: 0.8rem;
}
.social li{
  display: inline-block;
  margin: 0.4rem;
}
.social, .logo{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

button:hover{
  background-color:#99f3bd;
}

.footer a{
  color: white;
}
.footer a:hover{
  color: hsl(180, 66%, 49%);
  text-decoration: none;
}
.social img{
  color: hsl(180, 66%, 49%);
}


/* mobile view */


@media (max-width: 1028px){


body{

}

.navbar-collapse{
  background-color: hsl(257, 27%, 26%);
  border-radius: 10px;
  color:white;
  padding:  1rem 5rem;
}

.nav-button{
  margin: 2rem 1rem;
  width: 80%;
}

.nav-link{
  margin-left: 7rem;
  margin-right: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.navbar a{
  color:white;
  font-weight: normal;
}
.intro{
  margin: 0;
}
.intro-words{
  padding: 2rem 2rem 10rem;
  text-align:center;
}
.intro-image-mobile{
  display: block;
  margin:1rem auto;
  padding: 1rem;
  overflow-x: hidden;

}
.intro-image-mobile img{
  width: 150%;
  overflow-x: hidden;
}
.intro-image{
  display: none;
}
h1{
  margin: 1rem auto;
  font-size: 2rem;
}
.intro-words p{
  margin: 1rem auto 1.5rem;
}
.shorten{
  margin: 0 1.5rem;
  position: relative;
  bottom:5rem;
  padding:2rem 2.5rem;
}
.shorten input{
  width: 100%;
  display: block;
  margin: 0;
}
.shorten button{
  width: 100%;
  margin: 1rem 0;
  display: block;
}

.advanced-stat{
  margin: 0;
}

.stat-info{
  margin: 1rem;
  text-align: center;
}
.stat-cards{
  margin: 0;
}
.brand, .records, .customizable{
  max-width:100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin: 1.1rem 0 ;
  padding: 2rem;
  text-align: center;
  align-items: center;
  z-index: 2;
}

.card-image{
  left:37%;
  bottom:20%;
  position:relative;
}
.card-image img{
  left:2%;
}
.line {
  width:0;
  height:120%;
  position: absolute;
  top: 93rem;
  left:50%;
}

.social, .list, .logo{
  max-width:100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  text-align: center;
  padding-top:1rem;
}
.social{
  margin: auto;
}
}





















































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
